.tabelle th, .tabelle td {
    border-style: solid;
    border-width: 1.5px;
    width: 300px;
    text-align: center;

}
.tabelle headerFixed {
    position: fixed;
}
#tabellenDiv {
    height: 500px;
    overflow-y: auto;
}
.spalte1 {
    width: 25px !important;
}
.tablerow {
    background-color: green;
    line-height: 23.4px !important;
}
.active {
    background-color: yellowgreen !important;
}
.eingabefeld {
    resize: none;
    
}
.utilbar {

}
.imagebutton {
    width: 16px;
    height: 16px;
}
body {
    background-color: green;
}
#Songtext_Eingabe {
    height: 500px;
    width: 650px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}
#Eingabe_Songtext {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    resize: none;
    
}