.tabelle th, .tabelle td {
    border-style: solid;
    border-width: 1.5px;
    width: 300px;
    text-align: center;

}
.tabelle headerFixed {
    position: fixed;
    overflow-y: scroll;
}
#tabellenDiv {
    height: 500px;
    overflow-y: auto;
}
.spalte1 {
    width: 25px !important;
}
.tablerow {
    background-color: green;
}
.active {
    background-color: yellowgreen !important;
}
.eingabefeld {
    resize: none;
}

.imagebutton, .delbutton, .textbutton, .youtubebutton, .abspielbutton {
    width: 16px;
    height: 16px;
}
body {
   background-color: green;
}